<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p> Information <%= title %></p>
    Our mission is to offer the best selection of plant and floral products at affordable costs.
  </body>
</html>
